
.carousel-slide{
    height: 230px !important;
    /* border: 1px solid yellow !important; */
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 10px 10px;

}

.slick-center .carousel-slide {
    transform: scale(1.1);
    width: 500px;
    z-index: 1;
}

.slick-slide {
    opacity: 0.6;
}

.slick-center{
    opacity: 1;
}

@media (max-width: 768px) {
    
    .review-slider-comp{
        margin: 0 20px;
        overflow: hidden;
    }

    
    .carousel-slide{
        margin: 30px;
        height: 200px !important;
        width: auto !important;
    }
    
}


